<div class="page">
  <!-- Main Navbar-->
   <header class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand"> <div class="sidebar-header d-flex align-items-center">
            <div><img height="250" width="250" src="assets/images/logo_proteomix.png" alt="..." class="img-fluid rounded-circle"></div>
          </div>    </a>
    <!-- <a class="navbar-brand"  style="font-size: 20pt;color: #006666" href="#">{{ title }} <i style="font-size: 10pt"></i></a>-->

    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link"><i class="fas fa-home"></i> Home</a>
            </li>-->

        </ul>
        <form id='search' class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        </form>
    </div>
</nav>
</header>
<div class="page-content d-flex align-items-stretch">
<!-- Side Navbar -->
<!--<div class="wrapper">-->
    <!-- Page Content -->
      <nav class="side-navbar">
          <!-- Sidebar Header-->
          <!--<div class="sidebar-header d-flex align-items-center">
            <div><img src="assets/images/logo_proteomix.png" alt="..." class="img-fluid rounded-circle"></div>
          </div>-->
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
          <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/download']" routerLinkActive="active-link"><i class="icon-grid"></i> Tables</a>
            </li>
            <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Results</a></li>
            <li><a href="forms.html"> <i class="icon-padnote"></i>Data </a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Sample analysis </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Data exploration</a></li>
                <li><a href="#">Differential expression analysis</a></li>
              </ul>
            </li>
          </ul><span class="heading">Extras</span>
          <ul class="list-unstyled">
            <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
            <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
          </ul>
        </nav>
    <div id="content" class="container">
        <div fxFlex fxLayout="column">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</div>
