
<div>
    <h1> ProteomiX from data to knowledge</h1>
    <mat-card>
        <a href="https://cgfb.u-bordeaux.fr/">
            <img height="250" width="250" id="logo_cgfb" src="assets/images/logo_proteomix.png" >
        </a> 
    </mat-card>
    <br>
    <mat-card>
        <div>
            <p style="font-size: 12pt"> ProteomiX is a web application design to helps biologists easily process and explore Proteomics data </p>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <h3>Project description</h3>
        <p style="font-size: 12pt">blablabla.
        </p>
    </mat-card>
    <br>

    <mat-card>
        <h3>Start experiment Proteomics</h3>
        <button class="btn btn-outline-rounded btn-info" type="submit" (click)="onSelect()"> Start analysis
                    <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
                </button><span style="margin-right:10px;"></span>            
    </mat-card>
</div>