<header class="page-header">
    <div class="container-fluid">
       <h2 class="no-margin-bottom">Upload your Data files!</h2>
    </div>
</header>
<section class=" no-padding-bottom">
<div class="container-fluid">

  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">
    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
     
      <label class="btn btn-default btn-file">Browse <input type="file" style="display: none;"  accept=".xlsx,.csv"  (change)="onBrowse($event)"></label>
       <label class="btn btn-default btn-file">Upload<button type="submit" style="display: none;" ></button></label>
  </form>
        

<!--</div>
 <div *ngIf= "mode==='edit'" >
     <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <button class="btn btn-outline-rounded btn-info" type="submit">Save</button>
    
  </form>
     <br>
</div>     -->
 
<!-- <pre>
{{csv}}     

 </pre>
 -->
 
<table *ngIf="fileName!==''" cdkDropList cdkDropListOrientation="horizontal" class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center" id="datatable" (cdkDropListDropped)="drop($event)">
    <thead> 
        
    <tr >
        <th style="font-size:10px;text-align: center; cursor: move;">Filename</th>
        <th style="font-size:10px;text-align: center; cursor: move;">Creation Date</th>

    </tr>
    </thead>

    <tbody>
        <tr>
        <td  style="font-size:14px;" >{{fileName}}</td>
        <td  style="font-size:14px;" >{{fileName}}</td>
    </tr>
    </tbody>
</table>
 </div>
</section>

