
<header class="page-header">
    <div class="container-fluid">
       <h2 class="no-margin-bottom">Describe metadata</h2>
    </div>
    
</header>
<section class=" no-padding-bottom">
<div class="container-fluid">
    <alert></alert>
<!--<div class="form-group">-->
<!--<table cdkDropList cdkDropListOrientation="horizontal" class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center" id="datatable" (cdkDropListDropped)="drop($event)">-->

<!--<label>
Assign first group label:
  <input type="text" placeholder="Group1" [formControl]="group1_label_form"  (keyup)="edit_first_group($event.target.value)">
</label>
<label>
Assign second group label:
<input type="text" placeholder="Group2" [formControl]="group2_label_form" (keyup)="edit_second_group($event.target.value)">
</label>-->


<!--<label>
    <select [ngModel]="species" name="species" size="1" (change)="onSelectSpecies($event.target.value)" >
        <option [value]="undefined" selected>Choose species</option>
        <option value='human' (change)="onSelectSpecies($event.target.value)">Homo sapiens</option>
        <option value='mouse' (change)="onSelectSpecies($event.target.value)">Mus musculus</option>
    </select> 
</label>-->
<!--</div>
    <form [formGroup]="form" (ngSubmit)="onChooseGroup()">

       <label class="btn btn-primary">Next step<button type="submit" style="display: none; position: right" ></button></label>
  </form>
 </div>-->
    
    
<!--    <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>
 
  <p>This is the primary content of the panel.</p>
 
  <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row>
</mat-expansion-panel>-->
 
<!--    <form [formGroup]="form" (ngSubmit)="onSubmit()">

       <label class="btn btn-primary">Run analysis<button type="submit" style="display: none; position: right" ></button></label>
  </form>-->

<!--<table class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center" id="datatable" >
    <thead>
    <tr>
        <th scope="col" *ngFor="let key of get_headers() ; index as i;" style="font-size:10px;text-align: center; cursor: move;">{{key}}</th>
    </tr>
    <tr>
        <th scope="col" *ngFor="let key of get_headers() ; index as i; "  style="font-size:10px;text-align: center;">
            <select [formControl]="select_form"  name="selectedGroup" size="1" (change)="onSelect($event.target.value,get_headers()[i])"  >
                    <option value="" disabled>Assign Ontology term</option>
                    <option [value]="undefined" selected>Assign Group</option>
                    <option value='{{group1_label}}' (change)="onSelect($event.target.value,key)" [selected]="">{{group1_label}}</option>
                    <option value='{{group2_label}}' (change)="onSelect($event.target.value,key)" [selected]="">{{group2_label}}</option>

                </select>             
        </th>
    </tr>
        <tr>
            <th scope="col" *ngFor="let key of get_headers() ; index as i;"  style="font-size:10px;text-align: center;">

                <span *ngIf=" associated_headers[key].selected" style="display:inline-block; margin-left: 10px;"> 
                    {{associated_headers[key].associated_group}} 
                </span>
            </th>
        </tr>
        </thead>
</table>-->

<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Choose group name</ng-template>
        <mat-form-field>
            <mat-label>First group</mat-label>
            <input matInput formControlName="firstGroupCtrl" placeholder="Group1" value="{{group1_label}}" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Second group</mat-label>
            <input matInput formControlName="secondGroupCtrl" placeholder="Group2" value="{{group2_label}}" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="onChooseGroup($event)">Next</button>
        </div>
    </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
    <form flex layout="column" style="overflow: auto; height: 100%;" [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Assign group to data</ng-template>
        <div>
            <mat-radio-group (change)="onChange($event)" formControlName="GroupradioCtrl" required aria-label="Select an group">
                <mat-radio-button value="{{group1_label}}">{{group1_label}}</mat-radio-button>
                <mat-radio-button value="{{group2_label}}" >{{group2_label}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
        <!--<mat-form-field>-->
            <table class="dataTable table table-hover table-bordered table-responsive-md table-striped text-center" id="datatable" >
                 <thead>
                    <tr>
                        <th scope="col" *ngFor="let key of get_headers() ; index as i;"  [class.selectedBlueColumn]="columnBlueIsSelected(get_headers()[i])" [class.selectedGreenColumn]="columnGreenIsSelected(get_headers()[i])" (click)="onColumnClick(get_headers()[i])" style="cursor: pointer;" >{{key}}</th>
                    
                        <!--style="font-size:10px;text-align: center; cursor: move;"-->
                    </tr>
<!--                    <tr>
                        <th scope="col" *ngFor="let key of get_headers() ; index as i; "  style="font-size:10px;text-align: center;">
                            
                            
                            
                            <mat-select>
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                            
                            
                            <select [stepControl]="select_form"  name="selectedGroup" size="1" (change)="onSelect($event.target.value,get_headers()[i])"  >
                                <option value="" disabled>Assign Ontology term</option>
                                <option [value]="undefined" selected>Assign Group</option>
                                <option value='{{group1_label}}' (change)="onSelect($event.target.value,key)" [selected]="">{{group1_label}}</option>
                                <option value='{{group2_label}}' (change)="onSelect($event.target.value,key)" [selected]="">{{group2_label}}</option>

                            </select>             
                        </th>
                    </tr>-->
                    <tr>
                        <th scope="col" *ngFor="let key of get_headers() ; index as i;"  style="font-size:10px;text-align: center;">

                            <span *ngIf=" associated_headers[key].selected" style="display:inline-block; margin-left: 10px;"> 
                                {{associated_headers[key].associated_group}} 
                            </span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    <!--</mat-form-field>-->
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext  (click)="onValidateGroup($event)">Next</button>
        </div>
    </form>
    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
    </mat-step>
</mat-horizontal-stepper>
</div>
</section>

